/* Koko sivu */
body {
    font-family: Arial, sans-serif;
    background-color: #bd8f8f;
    color: #333;
    margin: 0;
}

/* Header */
header {
    background-color: #e1b4b4;
  color: rgb(187, 131, 131);
    text-align: center;
    padding: 30px;
}

/* Navigaatio */
.nav {
    margin-top: 20px;
}

nav a {
 color: rgb(187, 131, 131);
    margin: 0 10px;
}


/* Pääsisältö */
main {
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;

    display: flex;
    gap: 25px;
    align-items: flex-start;
}

/* Artikkeli
article {
    background-color: rgb(171, 91, 91);
    padding: 25px;
    border-radius: 8px;
}
/*


/* Sectionit */
section {
    margin-top: 25px;
}


/* Sivupalkki */
aside {
    background-color: #825a5a;
    width: 220px;
    flex-shrink: 0;
    border-radius: 15px;
    margin: 20px 28px 20px 0;
}

.sisalto {
    flex: 1;
}

/* Footer */
footer {
    background-color: #e1b4b4;
    color: rgb(187, 131, 131);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}